{# src/Blogger/BlogBundle/Resources/views/Page/hello.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}Number{% endblock%}
{% block body %}
    <header>
        <h1>Hello {{ number }}</h1>
    </header>
{% endblock %}